* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.background-img {
    width: 100vw;
    height: 100%;
}


.hero-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    overflow-y: scroll;
    /* Keep the scroll functionality */
    scrollbar-width: none;
    top: 150px;
    /* Adjust the distance from the top as needed */
    left: 50%;
    /* Position it at the center horizontally */
    transform: translateX(-50%);
    /* Shift it left by half its own width */
}


.hero-content form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-content form button {
    border: 0;
    background-color: rgb(255, 123, 0);
    border-radius: 20px;
    border-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.hero-content form button :hover {
    zoom: 1;
}

.hero-content form input {
    width: 500px;
    border-color: white;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    font-size: 22px;
    font-family: 'Josefin Sans';
}

.search-btn {
    width: 40px;
    height: 40px;
}


.header-tagline {
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.header-tagline p {
    font-size: 60px;
}

.tagline-top,
.tagline-buttom {
    font-family: 'inter';
    display: flex;
    justify-content: center;
}

.header-tagline p:nth-child(1),
.header-tagline p:nth-child(3) {
    color: rgb(255, 123, 0);
    width: fit-content;
}

.tagline-top {
    width: 100%;
    display: flex;
    font-weight: bold;
}


.tagline-buttom {
    width: 80%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.welcome {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-tagline .welcome p {
    font-size: 20px;
    color: black;
    font-family: 'Josefin Sans';

}


.sign-in {
    background: rgba(105, 105, 105, 0.19);
    border: 1px black;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
}

.header-tagline .sign-in p {
    font-size: 25px;
    text-align: center;
}

.header-tagline .sign-in form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.header-tagline .sign-in form #country-code {
    background-color: white;
    color: white;
    border-radius: 7px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 20px;
    text-align: center;
    width: 40px;
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sign-in form input {
    width: 150px;
    height: 35px;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    font-size: 19px;
    font-family: 'Josefin Sans';

}

.sign-in form .sign-in-btn {
    width: 100%;
    margin: 30px 0;
}


.sign-in form button {
    border: 0;
    background-color: rgb(255, 123, 0);
    border-radius: 20px;
    border-color: white;
    width: 100px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.sign-in form button:hover {
    background-color: gray;
    transform: translateX(2px);
}

.header-tagline .sign-in form .option {
    font-size: 15px;
    font-family: 'Josefin Sans';
}


.login-acc-opt {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    height: auto;
}

.login-acc-opt .login-acc-img {
    width: 30px;
    height: auto;
    border-radius: 10px;
    margin: 0 7px;
    transition: all 0.9s ease-in-out;
}

.login-acc-opt p {
    border-radius: 27px;
    cursor: pointer;
    max-height: 43px;
    overflow-y: hidden;
    transition: all 0.9s ease-in-out;

}

.login-acc-opt p:hover {
    background-color: rgb(255, 123, 0);
    transform: translateY(-1px);
}

.login-acc-opt .login-acc-img:hover {
    transform: translateY(-1px);
}